@{
    ViewData["Title"] = "Home Page";
}

<div class="container body-content">

    <header id="myHeader" class="jumbotron p-4 mb-0 bg-dark text-warning">
        <h1>MVC App Pt1</h1>
        <hr class="border border-warning">
        <p>An exercise in creating an MVC App</p>
    </header>


    <div class="btn btn-info btn-lg">
        <a class="bigbtn" href="/Movies">Movie List</a>
    </div>
    <hr>
    <footer>
        <p>© 2018 - Movie App</p>
    </footer>
</div>